<!DOCTYPE html>
	<html>
		<head><meta charset='utf-8'>
			<title>맞춤형 대외활동/공모전 검색 서비스</title>
			<link rel="stylesheet" href="../static/css/main.css">
		</head>
		<body>
			<div class="upper">
				<img src="../static/images/mainpagetop.png">
				<br>맞춤형 대외활동/공모전 검색 서비스
			</div>
			<div class="center">
				<nav id="MenuBar">
					<ul>
						<li><a class="menu">분야별 검색</a></li>
						<li><a class="menu">제목별 검색</a></li>
						<li><a class="menu">주최사별 검색</a></li>
						<li><a class="menu">현재 진행중인 공모전/대외활동</a></li>
					</ul>
				</nav>
			<div class="contents" id="contents-list">
				
			</div>
		<br>찾고 싶은 공모전을 입력해 주세요!
		<br>
		<form action="/search_action" method="POST">
		<select name="setp">
			<option value="all">통합검색</option>
			<option value="title">제목</option>
			<option value="field">분야</option>
			<option value="host">주최기관</option>
		</select>
		<input name="search" type="text" size="30">
		<input type="submit" name="send" value="제출">
		</form>
		<table name="result" class="result">
			<thead>
				<tr>
				<th scope="cols">사이트명</th>
				<th scope="cols">제목/분야</th>
				<th scope="cols">주최기관</th>
				<th scope="cols">진행 상황/D-day</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(0,5) %}
                                <tr>
                                        <td>
                                                {{rest.site[i]}}
                                        </td>
                                        <td>
						<a href={{rest.url[i]}}>{{rest.title[i]}}</a><br>
						{{rest.field[i]}}
                                        </td>
                                        <td>
                                                {{rest.host[i]}}
                                        </td>
                                        <td>
                                                {{rest.ddaying[i]}}/{{rest.Dday[i]}}
                                        </td>
                                </tr>
                                {% endfor %}

				
			</tbody>
		</table>
				

		

		</body>
	</html>
