<!DOCTYPE html>
	<html>
		<head><meta charset='utf-8'>
			<title>맞춤형 대외활동/공모전 검색 서비스</title>
			<link rel="stylesheet" href="../static/css/main.css">
		</head>
		<body>
			<div class="upper">
				<img src="../static/images/mainpagetop.png">
				<br>맞춤형 대외활동/공모전 검색 서비스
			</div>
			<div class="center">
				<nav id="MenuBar">
					<ul>
						<li><a class="menu">분야별 검색</a></li>
						<li><a class="menu">제목별 검색</a></li>
						<li><a class="menu">주최사별 검색</a></li>
						<li><a class="menu">현재 진행중인 공모전/대외활동</a></li>
					</ul>
				</nav>
			<div class="contents" id="contents-list">
				
			</div>
		<br>찾고 싶은 검색어를 입력해 주세요.
		<input name="search" type="text" size="30">
		<input type="submit" name="send" value="제출">
		<a>  찾고 싶은 분야를 선택해 주세요.(크롤링으로 체크리스트 등록 후 선택할 수 있게 구현 예정)
			<br>inner HTML  을 통해 메인 페이지 내에서 페이지가 변경되도록 구현 예정</a>
		<table class="result">
			<thead>
				<tr>
				<th scope="cols">분야</th>
				<th scope="cols">제목</th>
				<th scope="cols">주최기관</th>
				<th scope="cols">진행 상황</th>
				<th scope="cols">남은 기간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">분야테스트</th>
					<td>제목테스트</th>
					<td>주최기관테스트</th>
					<td>진행 상황테스트</th>
					<td>디데이테스트</th>
				</tr>
				<tr>
					<th scope="row" class="erow">짝수테스트</th>
					<td class="erow">제목2테스트</td>
					<td class="erow">주최기간2테스트</td>
					<td class="erow">진행상황2테스트</td>
					<td class="erow">디데이2테스트</td>
				</tr>
			</tbody>
		</table>
				

		

		</body>
	</html>
