<!DOCTYPE html>
	<html>
		<head><meta charset='utf-8'>
			<title>맞춤형 대외활동/공모전 검색 서비스</title>
			<link rel="stylesheet" href="../static/css/main.css">
		</head>
		<body>
			<div class="upper">
				<img src="../static/images/mainpagetop.png">
				<br>맞춤형 대외활동/공모전 검색 서비스
			</div>
			<div class="center">
				<nav id="MenuBar">
					<ul>
						<li><a class="menu">분야별 검색</a></li>
						<li><a class="menu">제목별 검색</a></li>
						<li><a class="menu">주최사별 검색</a></li>
						<li><a class="menu">현재 진행중인 공모전/대외활동</a></li>
					</ul>
				</nav>
			<div class="contents" id="contents-list">
				
			</div>
		<br>찾고 싶은 공모전을 입력해 주세요!
		<br>
		<form action="/search_action" method="POST">
		<select name="setp">
			<option value="통합검색">통합검색</option>
			<option value="제목">제목</option>
			<option value="분야">분야</option>
			<option value="주최기관">주최기관</option>
		</select>
		<input name="search" type="text" size="30">
		<input type="submit" name="send" value="제출">
		</form>
		<a>  
			<br>inner HTML  을 통해 메인 페이지 내에서 페이지가 변경되도록 구현 예정</a>
		<table class="result">
			<thead>
				<tr>
				<th scope="cols">사이트명</th>
				<th scope="cols">제목/분야</th>
				<th scope="cols">주최기관</th>
				<th scope="cols">진행 상황/D-day</th>
				</tr>
			</thead>
			<tbody>
				<tr>

					<th scope="row">분야테스트</th>
					<td>테스트2</th>
					<td>주최기관테스트</th>
					<td>진행 상황테스트</th>
				</tr>
				<tr>
					<th scope="row" class="erow">짝수테스트</th>
					<td class="erow">주최기간2테스트</td>
					<td class="erow">테스트2</td>
					<td class="erow">디데이2테스트</td>
				</tr>
			</tbody>
		</table>
				

		

		</body>
	</html>
